*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    background-color: aliceblue;
}
.hum{
    display: none;
}
.logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo p {
    color: #F83F07;
    font-weight: bold;
    font-size: 19px;
    margin: 0;
}
.conatct{
    width: 20%;
    display: flex;
    align-items: center !important;
    justify-content: center;
}
.phone{
    color: #F83F07;
    font-weight: bold;
    font-size: 19px;
    margin: 0;
}
.nave{
    width: 100%;
    height: 60px;
    background: rgb(255, 255, 255 , 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    display: flex;
    position: fixed;
    top: 0 !important;
    z-index: 232;
}
.menu{
    width: 60%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 23423;
}
.liste{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
.list-iteme{
    height: 100%;
    width: 100%;
}
.nav-linke{
    text-decoration: none;
    color:#0C96BB ;
    height: 60px;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: 0.2s;
}
.nav-linke:hover{
    background-color: #0C96BB;
    color: white;
}
.anim{
    height: 100vh;
    width: 100%;
    background-color: #0C96BB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    perspective: 670px;
    z-index: 4343;
    overflow: hidden;
}
.anim .pic{
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center center !important;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.anim .tep1,
.tep1s,
.tep2,
.tep2s,
.cap{
    font-size: 30px;
    color: white;
    opacity: 0;
    position: absolute;
}
.left,
.right{
    position: relative;
}
.cap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tep1 span{
    font-size: 40px;
}
.bcheck,
.bcard{
    font-size: 18px;
    z-index: 3333;
    position: absolute;
    top: 25%;
    font-size: 40px;
    opacity: 0;
    color: gray;
}
.trigger1{
    min-height: 100vh;
    align-self: center;
}
section h1{
    margin-top: 100px;
}
.p-detail h3{
    color: #0C96BB;
}
.p-detail p{
    color: gray;
}
.item{
    position: relative;
    background-color: white;
    transition: .3s;
    width: 200px;
    height: 200px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.item:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.owl-item{
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
}
 .owl-theme  .owl-dots{
    margin-top: 0px;
}
 .owl-theme .owl-dots .owl-dot{
    border: none !important;
    outline: none !important;
    background: none;
    padding: 0px;
}
.owl-theme .owl-dots{
    margin-top: 25px;
}
.owl-theme .owl-dots .owl-dot span{
    width: 25px !important;
    height: 5px !important;
}
.owl-theme .owl-dots .active span {
    background: #F83F07 !important ;
}
.owl-stage-outer{
    padding: 10px;
}
.owl-nav{
    top: 0%;
    width: 100%;
    display: flex;
}

.owl-nav .owl-prev span,
.owl-nav .owl-next span{
    height: 45px !important;
    width: 45px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 50px;

}
.card-b{
    height: 350px;
    width: 350px;
    background-color: rgb(240, 240, 240);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

    transition: .2s;
}
.card-b:hover{
    border-radius: 50%;
}
.tab-content .fade{
    position: relative !important;
}
.tab-pane:not(.active) {
    display: none;
}
.nav-tabs .nav-item .nav-link{
    background-color: #F83F07;
    border-radius: 0;
    color: white;
}
.nav-tabs .active{
    color:#F83F07 !important;
    background-color: white !important;
}
.nav-tabs .dropdown-menu{
    border-radius: 0;
    padding: 7px;
}
.nav-link{
    font-size: 20px;
    border-radius: 5px !important;
    font-family: verdana;
}
.sim{
    position: fixed;
    bottom: 10%;
    right: 5%;
    background-color: #F83F07;
    color: white;
    z-index: 897987;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.sim:focus{
    border: none;
    outline: none;
}
.sim:hover{
    color: white !important;
}
.info{
    height: 250px;
    width: 100%;
    background-color: #F83F07;
}
.info code{
    color: white;
}
.social span{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1.5px solid white;
    cursor: pointer;
}
.social i {
    color:white;
    font-size: 2em;
}
.social span:hover {
    background-color: white;
}
.social span:hover i{
    color: #F83F07 !important;
    
}
.left,
.right{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
   
    .nave{
        z-index: 45545;
    }
    .anim{
        z-index: 76767;
    }
    .menu{
        height: 100vh;
        width: 200px;
        position: fixed;
        right: 0;
        background: #0C96BB;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        z-index: -1;
        opacity: 0;
        pointer-events: none;
        transition: .3s;
    }
    .show{
        opacity: 1;
        pointer-events: all;
    }
    .hum{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .liste{
        width: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
    .list-iteme{
        height: 100%;
        width: 100%;
    }
    .nav-linke{
       color: white;
        transition: 0.2s;
    }
    .logo{
        width: 100%;
    }
    .conatct{
        width: 100%;
    }
    .nav-tabs{
        justify-content: space-around !important;
    }
    .nav-tabs li{
        margin-top: 10px;
    }
    .container{
        width: 100% !important;
    }
    .card-holder{
        align-items: center !important;
        justify-content: center !important;
    }
    .card,
    .card-b{
        margin-top: 10px;
    }
    .info h1 {
        font-size: 25px;
        margin-left: 20px;
    }
    .info h1 code{
        font-size: 30px;
    }
    thead tr{
        font-size: 1.5em;
    }
    tbody tr{
        font-size: 1em;
    }
    
}
@media only screen and (max-width: 1024px) {
    
    .left,
    .right{
        display: none !important;
    }
    .pic{
        width: 50% !important;
    }
    .bcheck,
    .bcard{
        font-size: 25px;
    }
}
@media only screen and (max-width: 1190px) {
    .know{
        margin-top: 65px !important;
    }
    .social{
        width: 100% !important;
    }
}